################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.xml
*.iml
/.vs/proiect-inginerie-software-marmotele/FileContentIndex
*.sqlite
*.wsuo
/.vs/VSWorkspaceState.json
