<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBw9rRLjWMTLamcr_CYx_1eKG2fY1_HqZA</string>
	<key>GCM_SENDER_ID</key>
	<string>549480686938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.AldeaAlexia.WorkoutBuddyMobileiOS</string>
	<key>PROJECT_ID</key>
	<string>workoutbuddymobile</string>
	<key>STORAGE_BUCKET</key>
	<string>workoutbuddymobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549480686938:ios:f23095d180495df6543f63</string>
</dict>
</plist>